.video-list {
    width: 98vw;
    margin-top: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.video-display {
    margin:150px auto;
}

h1 {
    text-align: center;
}

.filter-unit {
    margin-left: 50px;
    
}

.filter-bar {
    text-align: center;
}

hr {
    display: block;
    height: 50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.indiv-video-container {
    display: flex;
    flex-direction: column;
    background-color: #fed136;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: greyscale;
    backface-visibility: hidden;
    transform: translate();
    transition: transform 0.25 ease-out;
}

.indiv-video-container:hover {
    transform: scale(1.05);
}

.add-new-form {
    border: 2px solid grey;
    padding: 20px;
    margin: 2em;
    display: block;
    text-align: center;

}

.newform-label {
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: Montserrat;
    width: 90vw;
}

label {
    width: 80vw;
}

.new-video-button {
    border-radius: 2px;
    background-color: #343A40;
    color:#fed136;
    padding: 1em;
}

.new-video-button:hover {
    border-radius: 2px;
    background-color: #fed136;
    color:#343A40;
    padding: 1em;
}